<footer class="text-center mt-5 mb-3 text-muted">
      <p>
        Connect:
        <a href="https://twitter.com/MechMadHog" class="text-muted me-3" target="_blank" aria-label="X (Twitter)">
        <i class="fab fa-x-twitter fa-lg"></i>
        </a>
        <a href="https://linkedin.com/in/michaelmacdonagh/" class="text-muted me-3" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a href="https://github.com/MechMadHog" class="text-muted me-3" target="_blank" aria-label="GitHub">
        <i class="fab fa-github fa-lg"></i>
        </a>
        <a href="https://www.instagram.com/mechanicalmadhog/" class="text-muted me-3" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="https://www.deviantart.com/mechmadhog" class="text-muted" target="_blank" aria-label="DeviantArt">
        <i class="fab fa-deviantart fa-lg"></i>
        </a>
      </p>
    </footer>