<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <header>
    <a href="/"><img src="/assets/images/logo.png" style="height:40px;"></a>
    <h1>{{ site.title }}</h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>
</body>
</html>
